name: release

on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'Commit to build'
        required: true
        type: string
      version:
        description: 'Version to release'
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}

      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '19'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build
        run: ./gradlew shadowJar

      - name: Copy binary
        run: mkdir -p release && mv build/libs/google-photos-exporter.jar release

      - name: Commit binary
        uses: EndBug/add-and-commit@v9
        with:
          add: 'release/google-photos-exporter.jar'
          message: 'Release ${{ inputs.version }}'
          new_branch: 'release/${{ inputs.version }}'
          tag: '${{ inputs.version }} --force'
          tag_push: '--force'

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: release/google-photos-exporter.jar
          tag_name: ${{ inputs.version }}
          generate_release_notes: true